@import url('https://fonts.googleapis.com/css?family=Sulphur+Point:400,700&display=swap');

body {
  background: black;
}

ul {
  list-style: none;
  margin-left: none;
  padding-left: none;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

/*// ALERT MESSAGE*/

.checkcam {
    color: blue;
    border-radius: 4px;
    background: #d6d6d64a;
    padding: 16px;
    /* border: 2px solid #0000ff52; */
    text-align: center;
    /* margin-left: 2em; */
    margin: 0 auto;
    font-size: 2em;
    font-family: "Sulphur Point";

}


/*// WRAPPERS*/

.super-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 2em;
}

.super-wrapper .container {
  width: 80%;
  margin-top: 2em;
  margin: 0 auto;
}

/*// PLAYER-CONTAINER*/

.container-player {
  width: 80%;
  margin-top: 2em;
  margin: 0 auto;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-carousel {
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
  position: relative;
}

.carousel-slider {
  height: auto;
  margin-bottom: 2em;
}

.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 42%;
  transition: height .5s ease-in;
  transition: width 3s ease-in;
}

/*// SELECTED IMAGE */

.image-list-item {
  background: contain;
  position: relative;
  max-height: 75vh;
}



@media only screen and (max-width: 768px) {

  .super-wrapper .container {
    width: 90%;
    margin-top: 2em;
    margin: 0 auto;
  }
  .carousel .slide img {
    border-radius: 1.5em;
  }
}

/*// BUTTONS*/

.btn-ffw {
  position: absolute;
  bottom: 0em;
  right: 1em;
  opacity: 0.8;
}

.btn-fff {
  position: absolute;
  bottom: 0em;
  right: 4em;
  opacity: 0.8;
}

.sol-counter {
  color: #96969a;
  position: absolute;
  bottom: 0.8em;
  opacity: 0.8;
  left: 1em;
  font-size: 1.3em;
  font-family: "Sulphur Point";
  font-weight: 700;
}

/*.carousel .slide {
  border-radius: 2em;
}*/

.control-panel {
  margin-top: 2em;
  width: 100%;
}


.react-select-container {
  opacity: 0.8;
  font-family: "Sulphur Point";
  font-weight: 400;
}

.react-select__menu-list {
  background: black;
  color: #fff;
}

.react-select__control {
  max-width: 60%;
  margin: 0 auto;
  background-color: hsl(0, 55%, 3%);
}

.react-select__value-container {
  flex: 0 0 60%;
  background: #fff;
  opacity: 0.88;
}


.manifest-wrapper {
  display: flex;
  flex-direction: column;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
  height: 100vh;
  font-family: "Sulphur Point";
}

.manifest-infos {
  background: black;
  color: red;
  min-height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Sulphur Point";
  font-weight: 700;
  font-size: 1.5em;
}

.manifest-infos li {
  margin-bottom: 5px;
    display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  color: #ccc;
  font-size: 1.3em;

}

