body {
  background: black;
}

ul {
  list-style: none;
  margin-left: none;
  padding-left: none;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

.loading {
  color: red;
  font-size: 3em;
}

.super-wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

.super-wrapper .container {
  width: 100%;
  margin-top: -2em;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.container .image-carousel {
  position: relative;

/*  flex: 0 0 60%;*/
}

.container .mission-control{
  position: absolute;
  width: 50%;
  bottom: 1em;
  left: 2em;
/*  flex: 0 0 40%;*/
}

.image-carousel {
  width: 100%;
}

.carousel-slider {
  height: 80vh;
}


