.image-list {
  width: 100%;
  padding-left: 0em !important;
  padding: 4em;
  background: black;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.image-list-item {
  height: 100%;
  width: 100%;
}


.image-list-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
