@import url('https://fonts.googleapis.com/css?family=Days+One|Orbitron:400,500,900|Quantico:400,700&display=swap');


.control-panel {
  font-family: "Quantico";
  font-weight: 400 !important;
  width: 100%;
  color: #fff;
  width: 100%;
  display: flex;
}

.control-panel .control-box {
    width: 100%;
    color: #fbfbfb;
    font-size: 0.7em;
    font-weight: normal;
    opacity: 0.9;
    margin: 12px;

}


.control-box ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.control-box ul li {
  font-size: 0.7em;

}
